<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/roster.css" />
</head>
<body>
    <h1>Team <%=team.teamName%></h1>
    <div class="nav-container">
        <div class='container-items' id='profile'><a class='container-item' id='profile-box' href="/users/profile">Your Profile</a></div>
        <div class='container-items' id='roster'><a class='container-item' id='roster-box' href="/rosters">Your Roster</a></div>
        <div class='container-items' id='league'><a class='container-item' id='league-box' href="/rosters/league">League</a></div>
        <div class='container-items' id='players'><a class='container-item' id='players-box' href="/rosters/availablePlayers">Filter Players</a></div>
        <div class='container-items' id='search'><a class='container-item' id='players-box' href="/rosters/search">Search Players</a></div>
        <div class='container-items' id='rules'><a class='container-item' id='players-box' href="/rosters/league/rules">League Rules</a></div>
    </div><br>
    <div id="playerScroll">
        <table id="playerTable">
            <tr id="playerHeader">
                <th class="name">Player</th>
                <th class="pos">Position</th>
                <th class="team">Team</th>
            </tr>
            <% for(let i = 0; i < roster.length; i++) { %>
                <tr class="playerInfo">
                    <% if(flex) { %>
                        <% if(i == sum) { %>
                            <td class="name"><%= roster[i].name %></td>
                            <td class="pos">FLEX</td>
                            <td class="team"><%= roster[i].team %></td>
                        <% } else { %>
                            <td class="name"><%= roster[i].name %></td>
                            <td class="pos"><%= roster[i].position %></td>
                            <td class="team"><%= roster[i].team %></td>
                        <% } %>
                    <% } else { %>
                        <td class="name"><%= roster[i].name %></td>
                        <td class="pos"><%= roster[i].position %></td>
                        <td class="team"><%= roster[i].team %></td>
                    <% } %>
                </tr>
            <% } %>
        </table>
    </div>
    
    
    
</body>
</html>