<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/players.css" />
</head>
<body>
    <h1>Search Available Players</h1>
    <div class="nav-container">
        <div class='container-items' id='profile'><a class='container-item' id='profile-box' href="/users/profile">Your Profile</a></div>
        <div class='container-items' id='roster'><a class='container-item' id='roster-box' href="/rosters">Your Roster</a></div>
        <div class='container-items' id='league'><a class='container-item' id='league-box' href="/rosters/league">League</a></div>
        <div class='container-items' id='players'><a class='container-item' id='players-box' href="/rosters/availablePlayers">Filter Players</a></div>
        <div class='container-items' id='search-page'><a class='container-item' id='players-box'>Search Players</a></div>
        <div class='container-items' id='rules'><a class='container-item' id='players-box' href="/rosters/league/rules">League Rules</a></div>
    </div><br>
    <div id="filterBar">
        <form id="filterButtons" action="/rosters/search" method="POST">
            <span>Player Name: </span><input type="text" name='name' value="<%= lastValue %>" />
            <input id="searchButton" type="submit" value="Search for Player">
        </form>
    </div>
    <div id="playerScroll">
        <table id="playerTable">
            <tr id="playerHeader">
                <th class="name">Player</th>
                <th class="pos">Position</th>
                <th class="team">Team</th>
                <th>Add Players</th>
            </tr>
            <% for(let i = 0; i < player.length; i++) { %>
                <% if(player[i].userId == null || player[i].userId == 0) { %>
                    <tr class="playerInfo">
                        <td class="name"><%= player[i].name %></td>
                        <td class="pos"><%= player[i].position %></td>
                        <td class="team"><%= player[i].team %></td>
                        <form action="/rosters/addPlayer/<%=player[i].id%>?_method=PUT" method="POST">
                            <td class="addPlayer"><input id="addButton" type="submit" value="Add Player" /></td>
                        </form>
                    </tr>
                <% } %>
            <% } %>
        </table> 
    </div>
    <br><br><br>
    <div class="logout-container">
        <div ><a class='container-item' id='logout-box' href="/">Log Out</a></div>
    </div>
</body>
</html>