<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css" />
</head>
<body><br><br><br><br>
    <h1><div>Welcome <%= users.name %></div></h1><br><br>
    <div class="nav-container">
        <div class='container-items' id='profile-page'><a class='container-item' id='profile-box'>Your Profile</a></div>
        <div class='container-items' id='roster'><a class='container-item' id='roster-box' href="/rosters">Your Roster</a></div>
        <div class='container-items' id='league'><a class='container-item' id='league-box' href="/rosters/league">League</a></div>
        <div class='container-items' id='players'><a class='container-item' id='players-box' href="/rosters/availablePlayers">Filter Players</a></div>
        <div class='container-items' id='search'><a class='container-item' id='players-box' href="/rosters/search">Search Players</a></div>
        <div class='container-items' id='rules'><a class='container-item' id='players-box' href="/rosters/league/rules">League Rules</a></div>
    </div><br><br><br><br><br>
    <form action="/users/profile?_method=PUT" method="POST">
        <span class="name items">Name: </span><input class="input" type="text" name="name" value="<%= users.name %>" /><br>
        <span class="teamName items">Team Name: </span><input class="input" type="text" name="teamName" value="<%= users.teamName %>" /><br>
        <span class="username items">Username: </span><input class="input" type="text" name="username" value="<%= users.username %>"/><br>
        <span class="password items">Password: </span><input class="input" type="text" name="password" value="<%= users.password %>"/><br><br>
        <input class="button-hover" id='editButton' type="submit" value="Click to Edit Profile"><br><br><br><br>
    </form>
    <form action="/users/profile?_method=DELETE" method="POST">
        <input class="button-hover" type="submit" value="Delete Entire Profile" />
    </form><br><br><br>
    
    <div class="logout-container">
        <div ><a class='container-item' id='logout-box' href="/">Log Out</a></div>
    </div>
</body>
</html>